{% from "svgs.html" import profile_svg %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}" }}>
</head>

<body>
    <div class="logo">
        {%for i in range(0,title1_package[1])%}
        <pre class="logo_line" style="{{style1[i]}}">{{title1_package[0][i]}}</pre>
        {% endfor %}
    </div>
    <div class="profile">
        <div class="profile_image">{{profile_svg()}}</div>
    </div>
    <br>
    <div class="game_box">
        <form class="user_invites game" action="/acceptordecline" method="POST">
            {% for i in range(0,user_invite_package[1]) %}
            <button type="submit" name="accept" class="user_invite" value="{{user_invite_package[0][i].id}}">Invite:
                {{user_invite_package[0][i].name}} (Owner - {{user_invite_package[0][i].owner}})</button>
            <button type="submit" name="decline" class="user_decline"
                value="{{user_invite_package[0][i].id}}">X</button>
            <br>
            {% endfor %}
        </form>


        <form class="user_owned_games game" action="/switch" method="POST">
            {% for i in range(0,user_owned_games_package[1]) %}
            <button type="submit" name="button" class="user_owned_game"
                value="{{user_owned_games_package[0][i].id}}">{{user_owned_games_package[0][i].name}} (Owner - You)</button>
            <br>
            {% endfor %}
            {% for i in range(0,other_games_package[1]) %}
            <button type="submit" name="button" class="other_game"
                value="{{other_games_package[0][i].id}}">{{other_games_package[0][i].name}} (Owner -
                {{other_games_package[0][i].owner}})</button>
            {% endfor %}
        </form>

    </div>

    <div class="make_game_box">
        <form class="make_game_form" method="POST">
            {{make_game.hidden_tag()}}
            {{make_game.name(class="input name")}}
            <br>
            {{make_game.description(class="input description")}}
            <br>
            {{make_game.submit(class="submit")}}
        </form>
    </div>
<div>

    <div class="active_game_box">
        <h3 class="game_title">{{loaded_game.name}}</h3>
        <p class="game_description">{{loaded_game.description}}</p>
        {% if loaded_game.is_active %}
        <h2 class="leaderboard_title">Leaderboard</h2>
        {% for i in range(0,leaderboard_package[1]) %}
        <p class="player_in_leaderboard"><span class="leaderboard_text">Player: {{leaderboard_package[0][i][1]}} Kills: <span class="kill_number">{{leaderboard_package[0][i][0]}}</span></span></p>
        {% endfor %}
        {% if in_game %}
        <div class="status_bar">
            <h2 class="status_title">Status</h2>
            <p class="target_announcement">Your target is: <span class="target">{{target}}</span></p>
            <form action="/eliminate">
                <button class="elimination_button submit" type="submit">I have eliminated my target</button>
            </form>
            {% else %}
            <p class="target_announcement">You have been eliminated</p>
            <form action="/leave">
                <button class="submit" type="submit">Leave Game</button>
            </form>
            {% endif %}
        </div>
        {% endif %}



        {% if loaded_game and not loaded_game.is_active %}
        {% for i in range(0, leaderboard_package[1]) %}
        <p class="player {{leaderboard_package[0][i][2]}}">{{leaderboard_package[0][i][1]}}</p>
        {% endfor %}
        {% if current_user.username == loaded_game.owner %}
        <form class="invite_form" action="/invite" method="POST">
            <input type="text" name="foreign_username" class="input invite_user" placeholder="Username">
            <button type="submit" name="button" class="submit invite_user_button">Invite User</button>
        </form>
        <form action="/start">
            <button type="submit" name="start_game" class="start_game_button">Start Game</button>
        </form>
        {% endif %}
        {% endif %}
    </div>
    <br>

</body>

</html>