<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="">
        <a href="home"><div class="logo">
            {%for i in range(0,title1_package[1])%}
            <pre class="logo_line" style="{{style1[i]}}">{{title1_package[0][i]}}</pre>
            {% endfor %}
        </div></a>
        {{form1.hidden_tag()}}
        {{form1.email(class="email input")}}
        {{form1.password(class="password input")}}<br>
        {% if errorMessage != "" %}
        <p class="orange">{{errorMessage}}</p>
        {% endif %}
        {{form1.submit(class="submit")}}
    </form>
    <a href="register"><button type="submit" class="submit no_account">I don't have an account</button></a>
</body>
</html>